<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CourseMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into COURSE(
			course_id,	
			course_credit,	
			course_name,	
			course_book,	
			course_type,	
			course_createtime	
			
		) values (
			#{courseId},
			#{courseCredit},
			#{courseName},
			#{courseBook},
			#{courseType},
			#{courseCreatetime}
			
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from COURSE
		where 
				course_id= #{courseId}
			
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  COURSE
			set 
		course_credit = #{courseCredit},
		course_name = #{courseName},
		course_book = #{courseBook},
		course_type = #{courseType},
		course_createtime = #{courseCreatetime}
			where 
		course_id = #{courseId}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			course_id,	
			course_credit,	
			course_name,	
			course_book,	
			course_type,	
			course_createtime	
			
		from 
			COURSE
		where 
			course_id = #{courseId}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.course_id,	
				a.course_credit,	
				a.course_name,	
				a.course_book,	
				a.course_type,	
				a.course_createtime	
		from 
				COURSE a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.course_id,		
				a.course_credit,		
				a.course_name,		
				a.course_book,		
				a.course_type,		
				a.course_createtime		
		from 
				COURSE a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from COURSE
		where 
			course_id 
						 in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>